<div class="divHeader-css">{{cityName}} - Data of past 5 days</div>
<p-table [columns]="cols" [value]="city" styleClass="p-datatable-gridlines p-datatable-striped">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <div *ngIf="col.field != 'name'">{{rowData[col.field]}}</div>
            </td>
        </tr>
    </ng-template>
  </p-table>