<div class="divHeader-css"><i class="fa fa-mixcloud"></i>Open Weather - CityData</div>
<div>
<p-table [columns]="cols" [value]="city">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <div *ngIf="col.field == 'name'"><a ngClass="a-css" href="" title="Click to check temperature and sea level" (click)="drillToPage($event, rowData)">{{rowData[col.field]}}</a></div>
                <div *ngIf="col.field != 'name'">{{rowData[col.field]}}</div>
            </td>
        </tr>
    </ng-template>
  </p-table>
</div>