/* You can add global styles to this file, and also import other style files */

@import "~primeng/resources/themes/md-light-indigo/theme.css";
@import "~primeng/resources/primeng.min.css";
.p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #dcdcdc;
    border-width: .1rem .1rem .1rem .1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    background: #ececec;
    transition: none;
}
.p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #e4e4e4;
    border-width: 1px 1px 1px 1px;
    padding: 1rem 1rem;
    font-size: 14px;
}
.body{
    font-family: 'Roboto';
}
.divHeader-css{
    width:100%;
    height: 10%;
    font-family: 'Roboto';
    font-size: 25px;
    color: #ff6f00;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
}